@import "tailwindcss";

@media (min-width: 767px) {
  .mb-d-none {
    display: none !important;
  }
}

* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
