@import "tailwindcss";

@media (min-width: 767px) {
  .mb-d-none {
    display: none !important;
  }
}

@media print {
  body {
    background: red !important;
  }
}

/* @media print {
  @page {
    size: A4 portrait; 
    margin: 0; 
  }

  html,
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
} */
